<h1 class="display-4">Welcome to the Ingredients App</h1>
<p class="mb-4">You can manage ingredients here.</p>
<a href="/list" class="btn btn-light">View Ingredients</a>
<a href="/add" class="btn btn-light">Add Ingredient</a>
